.organizer-order-delete-wrapper {
    padding-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .organizer-order-delete-form {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            margin-right: 1em;
        }

        .search-row {
            display: flex;
            
            input {
                width: 30em;
            }

            button {
                width: 10em;
            }
        }
    }

    .organizer-order-result-wrapper {
        width: 100%;
        border-top: 1px solid grey;
        margin-top: 1em;
        padding-top: 1em;
    }
}