<div class="container">
    <h3>Refund</h3>
    <hr>
    <ul>
        <li *ngFor="let refund of refunds">
            <strong [style.color]="refund.color">Refund ID:{{ refund.refund_id }}</strong>
            <br>
            <div class="Refund">
             <span #Organizer Order ID class="item">Organizer Order ID:{{ refund.oorder_id }}</span>
            <br>
            <span #Refund Update Time class="item">Refund Update Time:{{ refund.refund_updated_time}}</span>
            <br>
            <span #Refund Status class="item">Refund Status:{{ refund.refund_status}}</span>
        </div>    
        </li>
    </ul>
    <br>
</div>

