<div class="organizerorders-wrapper">
    <div class="organizerorders-navigator">
        <ul class="organzierorders-navigator-wrapper">
            <li routerLinkActive="active-link" routerLink="/orders/organizerOrder/createorganizerorder">Create Organizer order</li>
            <li routerLinkActive="active-link" routerLink="/orders/organizerOrder/getorganizerorder">Get Organzier Order</li>
            <li routerLinkActive="active-link" routerLink="/orders/organizerOrder/deleteorganizerorder">delete organizer order</li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>

