<div class="organizer-address-update-wrapper">
    <h4>Update New Address</h4>
    <form class="organizer-address-update-form" [formGroup]="fg">
        <div class="four-col">
            <input type="text" formControlName="Address_ID" placeholder="Address_ID">
            <input type="text" formControlName="Street1" placeholder="Street1">
            <input type="text" formControlName="Street2" placeholder="Street2">
            <input type="text" formControlName="City" placeholder="City">
           
        </div>
        <div class="four-col">
            <input type="text" formControlName="State" placeholder="State">
            <input type="text" formControlName="zipcode" placeholder="zipcode">
            <input type="text" formControlName="Other_Details" placeholder="Other Details">
            <input type="text" formControlName="Organizer_ID" placeholder="Organizer_ID">
        </div>
        <div class="one-col">
            <button [disabled]="isLoading" mat-raised-button (click)="onUpdate()">Update</button>
        </div>
    </form>
</div>

