<div class="Organizer-Refund-wrapper">
    <h4>Create Organizer Refund</h4>
    <form class="Organizer-Refund-form" [formGroup]="fg">
        <div class="one-col">
            <input type="text" formControlName="Organizer_Order_ID" placeholder="Organizer_Order_ID">
        </div>
        <br>
        <div class="one-col">
            <input type="text" formControlName="Description" placeholder="Description">
        </div>
        <br>
        <div class="one-col">
            <button [disabled]="isLoading" mat-raised-button (click)="onCreate()">Create</button>
        </div>
    </form>
</div>
