<div class="container">
    <h3>Purchase History</h3>
    <hr>
    <ul>
        <li *ngFor="let order of orders">
            <form (ngSubmit)="onrefundorganizer(order)" #orderForm="ngForm">
                <strong [style.color]="order.color">Organizer Order ID:{{order.organizerOrderID}}</strong>
                <br>
                <div class="Order">
                    <span #Events ID class="item">EventID:{{order.eventID }}</span>
                    <br>
                    <span #Date Time class="item">DateTime:{{order.dateTime}}</span>
                    <br>
                    <button type="submit" class="btn btn-success" mat-raised-button color="primary">Refund</button>
                </div>      
            </form>
        </li>
    </ul>
    <br>
</div>
