<div class="container">
    <h3>Refund</h3>
    <hr>
    <ul>
        <li *ngFor="let refund of refunds">
            <strong [style.color]="refund.color">Refund ID:{{ refund.crefund_id }}</strong>
            <br>
            <div class="Refund">
                <span #Customer Order ID class="item">Customer Order ID:{{ refund.corder_id }}</span>
               <br>
               <span #Refund Description class="item">Refund Description:{{ refund.crefund_description}}</span>
               <br>
               <span #Refund Update Time class="item">Refund Update Time:{{ refund.crefund_updated_time}}</span>
               <br>
               <span #Stripe Status class="item">Stripe Status:{{ refund.stripe_status}}</span>
               <br>
               <span #Stripe Refund ID class="item">Stripe Refund ID:{{ refund.stripe_refund_id}}</span>
           </div>    
           </li>
       </ul>
       <br>
   </div>
      


