<div class="organizer-address-add-wrapper">
    <h4>Create New Address</h4>
    <form class="organizer-address-add-form" [formGroup]="fg">

        <div class="one-col">
            <input type="text" formControlName="Street1" placeholder="Street1">
        </div>

        <br>

        <div class="one-col">
            <input type="text" formControlName="Street2" placeholder="Street2">
        </div>
        <br>
        <div class="one-col">
            <input type="text" formControlName="City" placeholder="City">
        </div>
        <br>
        <div class="One-col">
            <input type="text" formControlName="State" placeholder="State">
        </div>
        <br>
        <div class="One-col">
            <input type="text" formControlName="zipcode" placeholder="zipcode">
        </div>
        <br>
        <div class="One-col">
            <input type="text" formControlName="Other_Details" placeholder="Other Details">
        </div>
        <br>
        <div class="One-col">
            <input type="text" formControlName="Organizer_ID" placeholder="Organizer_ID">
        </div>
        <br>
        <div class="one-col">
            <button [disabled]="isLoading" mat-raised-button (click)="onCreate()">Create</button>
        </div>
    </form>
</div>
