<div class="organizer-update-wrapper">
  <div [hidden]="!display">
    <h3>Account Information</h3>
    <form (ngSubmit)="onSave()" #organizerupdatedForm="ngForm">
      <br>
      <hr>
      <h4>Basic Information</h4>
      <div class="form-group">
        <label for="account name">Organizer Name</label>
        <input type="text" class="form-control" id="Organizer Name"
               [(ngModel)]="model.organizername" name="organizername">
      </div>

      <div class="form-group">
        <label for="email address">Email Address</label>
        <input type="text" class="form-control" id="Email Address"
               [(ngModel)]="model.emailaddress" name="emailaddress">
      </div>

      <div class="form-group">
        <label for="other details">Other Details</label>
        <input type="text" class="form-control" id="Other Details"
               [(ngModel)]="model.otherdetails" name="otherdetails">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!organizerupdatedForm.form.valid" (click)="onSave()">Save</button>
      <button type="button" class="btn btn-default" (click)="Cancel();">Cancel</button>
    
    </form>
  </div> 

  <div class="organizer-contact-update-wrapper">
    <div [hidden]="!display">
      <form (ngSubmit)="onSave()" #organizercontactForm="ngForm">
      <br>
      <hr>
      <h4>Contact Information</h4>
      <div class="form-group">
        <label for="contact name">Contact Name</label>
        <input type="text" class="form-control" id="Contact Name"
               [(ngModel)]="model.contactname" name="contactname">
      </div>
     
     <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" class="form-control" id="Telephone"
               [(ngModel)]="model.telephone" name="telephone">
      </div>

      <div class="form-group">
        <label for="website address">Wedsite Address</label>
        <input type="text" class="form-control" id="Wedsite Address"
               [(ngModel)]="model.websiteaddress" name="websiteaddress">
      </div>
      
      <button type="submit" class="btn btn-success" [disabled]="!organizercontactForm.form.valid" (click)="onSave()">Save</button>
      <button type="button" class="btn btn-default" (click)="Cancel();">Cancel</button>
    </form>
  </div>

  <div class="organizer-address-update-wrapper">
    <div [hidden]="!display">
      <form (ngSubmit)="onSave()" #organizeraddressForm="ngForm">
      <br>
      <hr>
      <h4>Address</h4>
      <div class="form-group">
        <label for="street1">Street1</label>
        <input type="text" class="form-control" id="Street1"
               [(ngModel)]="model.street1" name="Street1">
      </div>

      <div class="form-group">
        <label for="street2">Street2</label>
        <input type="text" class="form-control" id="Street2"
               [(ngModel)]="model.street2" name="street2">
      </div>

      <div class="form-group">
        <label for="city">city</label>
        <input type="text" class="form-control" id="City"
               [(ngModel)]="model.city" name="city">
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="State"
               [(ngModel)]="model.state" name="state">
      </div>
     
     <div class="form-group">
        <label for="zipcode">Zip Code</label>
        <input type="text" class="form-control" id="Zip Code"
               [(ngModel)]="model.zipcode" name="zipcode">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!organizeraddressForm.form.valid" (click)="onSave()">Save</button>
      <button type="button" class="btn btn-default" (click)="Cancel();">Cancel</button>
      
    </form>
  </div>

  <div [hidden]="display">
    <h3>Account Information</h3>
    <br>
    <hr>
    <h4>Basic Information</h4>
    <div class="row">
      <div class="col-xs-3">Organizer_Name:</div>
      <div class="col-xs-9">{{ model.organizername }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email_Address:</div>
      <div class="col-xs-9">{{ model.emailaddress }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Other_Details:</div>
      <div class="col-xs-9">{{ model.otherdetails }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="display=true">Edit</button>
    </div>

    <div [hidden]="display">
    <br>
    <hr>
    <h4>Contact Information</h4>
    <div class="row">
      <div class="col-xs-3">Contact_Name:</div>
      <div class="col-xs-9">{{ model.contactname }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Telephone:</div>
      <div class="col-xs-9">{{ model.telephone }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Website_address:</div>
      <div class="col-xs-9">{{ model.websiteaddress }}</div>
    </div>
   <br>
    <button class="btn btn-primary" (click)="display=true">Edit</button>
    </div>

    <div [hidden]="display">
    <br>
      <hr>
      <h4>Address</h4>
      <div class="row">
      <div class="col-xs-3">Street1:</div>
      <div class="col-xs-9">{{ model.street1 }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Street2:</div>
      <div class="col-xs-9">{{ model.street2 }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">City:</div>
      <div class="col-xs-9">{{ model.city }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">State:</div>
      <div class="col-xs-9">{{ model.state }}</div>
    </div>
   
   <div class="row">
      <div class="col-xs-3">Zip_code:</div>
      <div class="col-xs-9">{{ model.zipcode }}</div>
    </div>
   <br>
    <button class="btn btn-primary" (click)="display=true">Edit</button>
    
  </div>
  </div>





<!-- ====================================================  -->
  <div>
    <form>

       <!-- ... all of the form ... -->

    </form>
  </div>

<!-- ====================================================  -->
<hr>
<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>



