<div class="profile-container">
    <div class="profile-menu">
      <div class="image-container">
        <img src="http://www.enfec.com/images/logo4.gif" alt="">
      </div>
      <ul>
        <li routerLinkActive="active-link" routerLink="/users/organizer">Account Infromation</li>
        <li routerLinkActive="active-link" routerLink="/orders/organizerOrder">Purchase history</li>
        <li routerLinkActive="active-link" routerLink="/users/refund">Refund</li>
      </ul>
      <router-outlet></router-outlet>
    </div>
</div>
    
      


