<div class="organizer-wrapper">
    <div class="organizer-navigator">
        <ul class="organizer-navigator-wrapper">
            <li routerLinkActive="active-link" routerLink="/users/organizer/add">add</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/edit">edit</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/search">search</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/del">delete</li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>
