<div class="organizer-contact-add-wrapper">
    <h4>Create New Organizer Contact</h4>
    <form class="organizer- ontact-add-form" [formGroup]="fg">
        <div class="three-col">
            <input type="text" formControlName="Organizer_ID" placeholder="Organizer_ID">
            <input type="text" formControlName="Contact_Name" placeholder="Contact_Name">
            <input type="text" formControlName="Telephone" placeholder="Telephone">
        </div>
        <div class="two-col">
            <input type="text" formControlName="web_site_address" placeholder="web_site_address">
            <input type="text" formControlName="address_ID" placeholder="address_ID">
        </div>
        <div class="one-col">
            <button [disabled]="isLoading" mat-raised-button (click)="onCreate()">Create</button>
        </div>
    </form>
</div>
