<div class="container">
    <h3>Purchase History</h3>
    <hr>
    <ul>
        <li *ngFor="let order of orders">
            <form (ngSubmit)="onrefundcustomer(order)" #orderForm="ngForm">
                <strong [style.color]="order.color">Order ID:{{ order.customerOrderID }}</strong>
                <br>
                <div class="Order">
                    <span #Orders Time class="item">Order Time:{{ order.orderTime }}</span>
                    <br>
                    <span #Orders Status class="item">Order Status:{{ order.orderStatus }}</span>
                    <br>
                    <span #Stripe Status class="item">Stripe Status:{{ order.stripeStatus }}</span>
                    <br>
                    <span #Stripe Charge ID:class="item">Stripe Charge ID:{{ order. stripeChargeID }}</span>
                    <br>
                    <button type="submit" class="btn btn-success" mat-raised-button color="primary">Refund</button>
                </div>
            </form>
        </li>
    </ul>
</div>

