<div class="organizer-contact-update-wrapper">
    <h4>Update New Contact</h4>
    <form class="organizer-contact-update-form" [formGroup]="fg">
        <div class="Five-col">
            <input type="text" formControlName="Organizer_ID" placeholder="Organizer_ID">
            <input type="text" formControlName="Contact_ID" placeholder="Contact_ID">
            <input type="text" formControlName="Telephone" placeholder="Telephone"> 
            <input type="text" formControlName="web_site_address" placeholder="web_site_address">
            <input type="text" formControlName="Address_ID" placeholder="Address_ID">
        </div>
        <div class="one-col">
            <button [disabled]="isLoading" mat-raised-button (click)="onUpdate()">Update</button>
        </div>
    </form>
</div>
