<div class="refund-wrapper">
    <div class="refund-navigator">
        <ul class="organizer-navigator-wrapper">
            <li routerLinkActive="active-link" routerLink="/users/organizer/add">add</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/edit">edit</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/search">search</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/del">delete</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/addOrganizeraddress">add address</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/searchOrganizeraddress">search address</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/updateOrganizeraddress">update address</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/addOrganizercontact">add contact</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/searchOrganizercontact">search contact</li>
            <li routerLinkActive="active-link" routerLink="/users/organizer/updateOrganizercontact">update contact</li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>
