<div class="seat-wrapper">
    <div class="seat-navigator">
        <ul class="seat-navigator-wrapper">
            <br>
            <li routerLinkActive="active-link" routerLink="/seat/add">Add</li>
            <br>
            <li routerLinkActive="active-link" routerLink="/seat/edit">Edit</li>
            <br>
            <li routerLinkActive="active-link" routerLink="/seat/search">Search</li>
            <br>
            <li routerLinkActive="active-link" routerLink="/seat/del">Delete</li>
            <br>
            <li routerLinkActive="active-link" routerLink="/seat/search avialable seats by room id">Available</li>
            <br>
            <li routerLinkActive="active-link" routerLink="/seat/search all seats by room id">All seat</li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>