.organizer-add-wrapper {
    padding-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .organizer-add-form {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            margin-right: 1em;
        }

        .one-col,
        .two-col {
            margin-top: .5em;
        }

        .two-col {
            display: flex;
        }

        .one-col {
            display: flex;
        }
    }
}