<div class="organizer-delete-wrapper">
    <h4>Delete Organizer</h4>
    <form class="organizer-delete-form" >
        <div class="delete-row">
            <input type="text" [formControl]="Organizer_ID" placeholder="Organizer ID">
            <button [disabled]="isLoading" mat-raised-button (click)="onDelete()">Delete</button>
        </div>
    </form>

    <div class="organizer-result-wrapper">
        <div *ngFor="let deletededOrganizer of deletedOrganizers">
            <ul>
                <li *ngFor="let item of deletededOrganizer | keyvalue">
                    {{item.key}}: {{item.value}}
                </li>
            </ul>
        </div>
    </div>
</div>
